BLOB_READ_WRITE_TOKEN=
TAVILY_API_KEY=

CHAT_MODEL=
IMAGE_MODEL=
OPENAI_BASE_URL=
OPENAI_API_KEY=

# LangSmith Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=wanus
